name: FishingNewsUpdate

on:
  schedule:
    - cron: '0 0 * * *' # 毎日1回自動実行
  workflow_dispatch:      # 手動実行ボタンを出す設定

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4 gspread google-auth

      - name: Run scraper
        env:
          SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        run: python scraper.py
